# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl

# Terraform variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/
